@import url('https://fonts.googleapis.com/css2?family=Tauri&display=swap');

:root {
  --color-1w: white;
  --color-2b: black;
}

* ,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  z-index: -9999;
  color: var(--color-2b);
  font-family: 'Tauri', sans-serif;
  background-color: var(--color-1w);
}

button {
  all: unset;
  cursor: pointer;
  text-align: center;
  color: var(--color-1w);
  background-color: var(--color-2b);
}

button:hover {
  background-color: rgb(56, 56, 56);
}
button:active {
  background-color: rgb(85, 85, 85);
}
/**
* General properties for all pages
*/

.page {
  width: 100vw;
  height: 100vh;
  margin-top: 4em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.head {
  margin: .6em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.head h1 {
  margin: 10px 0;
  padding-bottom: 8px;
  border-bottom: .5px solid var(--color-2b);
}

.head-btns-wrapper {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.head-btns-wrapper button {
  padding: 8px 0;
  width: 160px;
  margin-left: 10px;
  text-align: center;
  font-weight: bolder;
  border-radius: unset;
}

[class*="card"],
[class*="form"] {
  width: 320px;
  padding: 1.2em;
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-2b);
  box-shadow: .5px .5px 8px -2px black;
}

[class*="form"] input[type="text"],
[class*="form"] input[type="email"],
[class*="form"] input[type="date"]
{
    height: 30px;
    margin-bottom: 8px;
}


[class*="card"]:hover,
[class*="card"]:active,
[class*="form"]:hover,
[class*="form"]:active {
  box-shadow: unset;
}

[class*="card"] ul {
  list-style: none;
}

/* Form and card buttons */
.inner-btns {
  height: 20px;
  margin: 6px 0;
}

.inner-btns button {
  width: 80px;
  height: 26px;
  margin-right: .6em;
}

@media(min-width: 800px) and (max-width: 9999px) {
  [class*="list"] {
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

