@import url('https://fonts.googleapis.com/css2?family=Tauri&display=swap');

:root {
  --color-1w: white;
  --color-2b: black;
}

* ,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  z-index: -9999;
  font-family: 'Tauri', sans-serif;
  color: var(--color-2b);
  background-color: var(--color-1w);
}

button {
  all: unset;
  cursor: pointer;
  padding: .1em 1.5em;
  border-radius: 8px;
  color: var(--color-1w);
  background-color: var(--color-2b);
}

/**
* General properties for all pages
*/

.page {
  width: 100vw;
  height: 100vh;
  margin-top: 4em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.head {
  margin: .6em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.head-btns-wrapper button:hover,
.head-btns-wrapper button:active {
  border-radius: 8px;
}

.head-btns-wrapper {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.head-btns-wrapper button {
  padding: .4em;
  margin-left: 10px;
  border-radius: unset;
  font-weight: bolder;
}

[class*="card"],
[class*="form"] {
  width: 320px;
  padding: 1.2em;
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-2b);
}

[class*="form"] input[type="text"],
[class*="form"] input[type="email"],
[class*="form"] input[type="date"]
{
    height: 30px;
    margin-bottom: 8px;
}

[class*="card"] ul {
  list-style: none;
}

/* Form and card buttons */
[class*="btns"] {
  margin: .8em .5em .2em 0em;
}
[class*="btns"] button {
  margin-right: .6em;
}

@media(min-width: 800px) and (max-width: 9999px) {
  [class*="list"] {
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

