.user-form input {
    float: right;
}

.user-form input[type="checkbox"] {
  margin-left: auto;
  margin: 2px 0;
}


.user-form input[name="Session Time Out"]
{
    height: 30px;
    margin-bottom: 8px;
}

.user-form label {
    float: left;
    width: 60%;
}

.permission-div label {
    margin-bottom: 3px;
}

.user-card li { 
    margin: .2em 0;
    text-decoration: underline;
    font-weight: bolder;
}

.user-card li span {
    float: right;
}

.user-card form {
    width: 90%;
}
