
.welcome-page-wrraper {
}

@media (max-width: 612px) {   
    .welcome-page-wrraper {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .welcome-page-wrraper img {
        width: 50%;
        margin-top: 8em;
    }
    .welcome-page-wrraper h1 {
        margin-top: 2em;
    }
}

@media (min-width: 613px) {
    .welcome-page-wrraper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
    .welcome-page-wrraper img {
        width: 300px;
        margin-left: 5vw;
    }
    .welcome-page-wrraper h1 {
        margin-right: 5vw;
    }
}